<!DOCTYPE html>
<html>
<head>
    <title>Lista de Tareas</title>
</head>
<body>
    <h1>Lista de Tareas</h1>
    <ul>
        {% for task_with_files in tasks_with_files %}
            <li>
                {{ task_with_files.task.nombre_tarea }} - {{ task_with_files.task.descripcion }}
                
                {% if task_with_files.archivos %}
                    ( 
                    {% for archivo in task_with_files.archivos %}
                        <a href="{{ archivo.url_archivo }}" target="_blank">{{ archivo.nombre_archivo }}</a>{% if not forloop.last %}, {% endif %}
                    {% endfor %}
                    )
                {% endif %}
                
                <form action="{% url 'delete_task' task_with_files.task.task_id %}" method="POST" style="display:inline;">
                    {% csrf_token %}
                    <button type="submit">Eliminar</button>
                </form>                
            </li>
        {% endfor %}
    </ul>
</body>
</html>
